body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
}

.loginForm {
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

.loginForm > input {
    font-size: 2em;
}
.loginForm > label {
    font-style: italic;
}

.error {
    color: darkred;
}